* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

:root {
  --neon-roxo: 160, 0, 255;

  --neon-cyan: 0, 255, 170;

  --neon-magenta: 255, 0, 119;

  color-scheme: dark;
}


body {
  background-color: #000000;
  color: #ffffff;

  min-height: 100vh;
  width: 100vw;

}

#root {
  min-height: 100vh;
  width: 100%;
}